.DS_Store
.direnv/
.envrc
*egg-info/
__pycache__/
*.pyc
*.db
salt.txt
*.log
*.pid
*.secret
peonserver/*.secret
website/*
# Since sass/scss is compiled into css, we probably don't want to add files from there.
peonserver/static/css/*
