#!/sbin/openrc-run

description="Python Tornado web server daemon"
working_dir="/home/dev/Development/peonserver"
# Change this user to your own user or web user
user="root"
name="peonserver"
# Use something like this if you rely on user-based direnv setup:
command="python -m ${name}"

pidfile="${RC_SVCNAME}.pid"
pidpath="/run/"
logpath="/var/log/${RC_SVCNAME}.log"
command_args="--pid-path $pidpath --pid-file $pidfile --log-file $logpath"

rc_need="loopback"

depend() {
    need $rc_need
}

start() {
    ebegin "Starting ${name}"
    $command start $command_args
    eend $?
}

stop()
{
    ebegin "Stopping ${name}"
    $command stop
    eend $?
}

restart()
{
    ebegin "Restarting ${name}"
    $command restart
    eend $?
}

status()
{
    $command status
}
